# DM 5

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

Sujet issu du Hackathon "données de santé" de Etalab :
Peut-on établir un lien entre la densité de médecins par spécialité et par territoire et la pratique du dépassement d'honoraires ? Est-ce dans les territoires où la densité est la plus forte que les médecins pratiquent le moins les dépassements d'honoraires ? Est-ce que la densité de certains médecins / praticiens est corrélée à la densité de population pour certaines classes d'âges (bébé/pédiatre, personnes âgées / infirmiers etc...) ?

Source des données : https://www.ameli.fr/l-assurance-maladie/statistiques-et-publications/donnees-statistiques/professionnels-de-sante-liberaux/honoraires/honoraires-totaux-et-moyens.php.

In [6]:
df = pd.read_excel("Honoraires_totaux_des_professionnels_de_sante_par_departement_en_2017.xls",2)

In [8]:
df.dtypes

Spécialistes                           object
DEPARTEMENT                            object
EFFECTIFS                               int64
HONORAIRES SANS DEPASSEMENT (Euros)    object
DEPASSEMENTS (Euros)                   object
FRAIS DE DEPLACEMENT (Euros)           object
TOTAL DES HONORAIRES (Euros)           object
dtype: object

In [9]:
df_clean = df[df['DEPASSEMENTS (Euros)'] != 'nc']

In [10]:
df_clean['DEPASSEMENTS (Euros)'] = pd.to_numeric(
    df_clean['DEPASSEMENTS (Euros)'])

/Users/louisnicolas/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [11]:
df_clean.describe()

           EFFECTIFS  DEPASSEMENTS (Euros)
count    3380.000000          3.380000e+03
mean      224.367751          9.074740e+06
std      3084.021549          1.037291e+08
min         0.000000          0.000000e+00
25%         0.000000          0.000000e+00
50%        15.000000          7.355036e+04
75%        43.000000          1.511962e+06
max    114030.000000          2.996448e+09

In [12]:
df_clean[df_clean['EFFECTIFS'] < 5]

,Spécialistes,DEPARTEMENT,EFFECTIFS,HONORAIRES SANS DEPASSEMENT (Euros),DEPASSEMENTS (Euros),FRAIS DE DEPLACEMENT (Euros),TOTAL DES HONORAIRES (Euros)
8,02- Anesthésie-réanimation chirurgicale,09- Ariège,0,0,0.00,0,0
48,02- Anesthésie-réanimation chirurgicale,48- Lozère,0,22499.3,1789.61,3.81,24292.7
101,02- Anesthésie-réanimation chirurgicale,976- Mayotte,0,0,0.00,0,0
104,20- Réanimation médicale,01- Ain,0,0,0.00,0,0
105,20- Réanimation médicale,02- Aisne,0,0,0.00,0,0
...,...,...,...,...,...,...,...
5659,38- Médecins biologistes,43- Haute-Loire,0,0,0.00,0,0
5662,38- Médecins biologistes,46- Lot,0,0,0.00,0,0
5664,38- Médecins biologistes,48- Lozère,0,0,0.00,0,0
5681,38- Médecins biologistes,65- Hautes-Pyrénées,0,0,0.00,0,0
5698,38- Médecins biologistes,82- Tarn-et-Garonne,0,0,0.00,0,0